<div class="todo-form-container">

  <mat-toolbar color="primary" [class.mat-elevation-z4]="true">
    <button mat-icon-button (click)="resetForm()">
      <mat-icon>cancel</mat-icon>
    </button>
    <span>Task Form</span>
    <span class="todo-form-spacer"></span>

    <button mat-button (click)="saveForm()">
      Save
    </button>
  </mat-toolbar>
  <form mat-dialog-content class="mat-typography todo-form-content" [formGroup]="taskForm" fxLayout="column"
    fxLayoutAlign="space-around start">

    <mat-form-field appearance="outline">
      <mat-label>List</mat-label>
      <mat-select formControlName="list">
        <mat-option *ngFor="let list of taskLists" [value]="list.id">
          {{list.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput  formControlName="subject" >
    </mat-form-field>


    <mat-form-field  appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Due date</mat-label>
      <input  formControlName="dueDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-radio-group formControlName="priority" aria-label="Priority">
      <mat-radio-button [value]="priority.value" *ngFor="let priority of priorities">{{priority.label}}</mat-radio-button>
    </mat-radio-group>


    <mat-checkbox style="padding-top:24px;padding-left:2px" formControlName="stat">Is Complete</mat-checkbox>



  </form>


</div>