<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Calculator</title>
</head>

<body>

    <div id="app">
        <v-app id="inspire">
            <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <!-- 

          
                <v-list-item class="px-2">
                    <v-list-item-avatar>
                        <v-img :src="profile.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title>${profile.name}</v-list-item-title>
                        <v-list-item-subtitle>${profile.designation}</v-list-item-subtitle>
                    </v-list-item-content>



                </v-list-item>
                <v-divider></v-divider>
      -->
                <v-list dense>
                    <template v-for="menu in menus">
                        <v-row v-if="menu.heading" :key="menu.heading" align="center">
                            <v-col cols="6">
                                <v-subheader v-if="menu.heading">
                                    ${ menu.heading }
                                </v-subheader>
                            </v-col>
                            <v-col cols="6" class="text-center">
                                <a href="#!" class="body-2 black--text">EDIT</a>
                            </v-col>
                        </v-row>
                        <v-list-group class="py-1" v-else-if="menu.children" :key="menu.text" v-model="menu.model"
                            append-icon="">
                            <template v-slot:activator>
                                <v-list-item-action>
                                    <v-icon>${menu.icon }</v-icon>
                                </v-list-item-action>

                                <v-list-item-content>
                                    <v-list-item-title>
                                        ${ menu.text }
                                    </v-list-item-title>
                                </v-list-item-content>
                            </template>
                            <v-list-item v-for="(child, i) in menu.children" :key="i" link
                                v-on:click="onNavigate(child.url)">

                                <v-list-item-action>
                                    <!--
                                    <v-icon>${child.icon }</v-icon>

                                    -->

                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-subtitle style="font-size:12px">
                                        ${child.text }
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-group>
                        <v-list-item class="py-1 " v-else :key="menu.text" link v-on:click="onNavigate(menu.url)">
                            <v-list-item-action>
                                <v-icon>${ menu.icon }</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    ${ menu.text }
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                    </template>



                </v-list>
                <template v-slot:append>
                    <v-btn v-if="profile.isAuthed" class="text-center" style="width: 100%;" text @click="onLogout">Logout</v-btn>
                </template>

            </v-navigation-drawer>

            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
                    <span class="hidden-sm-and-down">Personal</span>
                </v-toolbar-title>

            </v-app-bar>
            <v-main>
                <!--info-->
                <v-dialog v-model="infoDialog.display" width="300">


                    <v-card>
                        <v-card-title class="headline text-capitalize lighten-2 px-4" primary-title>
                            ${infoDialog.title}
                        </v-card-title>



                        <v-divider style="width:90%"></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="infoDialog.display=false">
                                close
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-container fluid>

                    <v-row>
                        <v-col cols="12">

                            <v-tabs v-model="tab" grow>
                                <v-tab v-for="(tab,tabIndex) in tabs" :key="tabIndex">
                                    ${ tab }
                                </v-tab>
                            </v-tabs>



                            <v-card style="width:100%">
                                <v-tabs-items v-model="tab">
                                    <v-tab-item v-for="(tab,tabIndex) in tabs" :key="tabIndex">
                                        <v-card flat v-if="tab=='Salary'">

                                            <v-card-text>

                                                <v-row>


                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="salaryForm.salary"
                                                            label="Salary" outlined>
                                                        </v-text-field>

                                                    </v-col>

                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="salaryForm.bonus"
                                                            label="Bonus" outlined>
                                                        </v-text-field>

                                                    </v-col>

                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="salaryForm.employeeRate"
                                                            label="Employee Rate" outlined>
                                                        </v-text-field>

                                                    </v-col>

                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="salaryForm.employeerRate"
                                                            label="Employeer Rate" outlined>
                                                        </v-text-field>

                                                    </v-col>
                                                </v-row>
                                            </v-card-text>

                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn text @click="resetSalary">Reset</v-btn>
                                                <v-btn text @click="onSalary">Calculate</v-btn>
                                            </v-card-actions>

                                            <v-divider></v-divider>
                                            <v-expand-transition>
                                                <v-card-text v-if="salaryResult.display">


                                                    <v-list dense>
                                                        <v-subheader>RESULT</v-subheader>

                                                        <v-list-item three-line>



                                                            <v-list-item-content>
                                                                <v-list-item-title>Sum</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Salary:${salaryResult.salary|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Bonus:${salaryResult.bonus|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>

                                                            <v-list-item-action>
                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(salaryResult.salary +
                                                                    salaryResult.bonus)|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>
                                                        <v-divider></v-divider>

                                                        <v-list-item three-line>

                                                            <v-list-item-content>
                                                                <v-list-item-title>KWSP</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Employeer:${salaryResult.kwsp.employeer|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Employee:${salaryResult.kwsp.employee|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>

                                                            <v-list-item-action>

                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(salaryResult.kwsp.employeer +
                                                                    salaryResult.kwsp.employee)|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>
                                                        <v-divider></v-divider>

                                                        <v-list-item three-line>

                                                            <v-list-item-content>
                                                                <v-list-item-title>EIS</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Employeer:${salaryResult.eis.employeer|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Employee:${salaryResult.eis.employee|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>

                                                            <v-list-item-action>
                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(salaryResult.eis.employeer +
                                                                    salaryResult.eis.employee)|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>

                                                        <v-divider></v-divider>


                                                        <v-list-item three-line>

                                                            <v-list-item-content>
                                                                <v-list-item-title>SOCSO</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Employeer:${salaryResult.sosco.employeer|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Employee:${salaryResult.sosco.employee|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>

                                                            <v-list-item-action>
                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(salaryResult.sosco.employeer +
                                                                    salaryResult.sosco.employee)|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>
                                                        <v-divider></v-divider>


                                                        <v-list-item three-line>

                                                            <v-list-item-content>
                                                                <v-list-item-title>Contribute</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Employeer:${salaryResult.contribute.employeer|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Employee:${salaryResult.contribute.employee|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>



                                                            <v-list-item-action>

                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(salaryResult.contribute.employeer +
                                                                    salaryResult.contribute.employee)|decimal}

                                                                </v-list-item-action-text>


                                                            </v-list-item-action>
                                                        </v-list-item>

                                                        <v-divider></v-divider>
                                                        <v-list-item three-line>

                                                            <v-list-item-content>
                                                                <v-list-item-title>Remain Salary</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Salary:${salaryResult.salary+salaryResult.bonus|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Contribute:${salaryResult.contribute.employee|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>
                                                            <v-list-item-action>
                                                                <v-list-item-action-text class="pt-16">
                                                                    ${salaryResult.remainSalary|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>

                                                    </v-list>
                                                </v-card-text>
                                            </v-expand-transition>




                                        </v-card>


                                        <v-card flat v-if="tab=='Rakuten'">

                                            <v-card-text>

                                                <v-row>


                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="rakutenForm.lot"
                                                            label="Lot" outlined>
                                                        </v-text-field>

                                                    </v-col>

                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="rakutenForm.price"
                                                            label="Unit Price" outlined>
                                                        </v-text-field>

                                                    </v-col>


                                                </v-row>
                                            </v-card-text>

                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn text @click="resetRakuten">Reset</v-btn>
                                                <v-btn text @click="onRakuten">Calculate</v-btn>
                                            </v-card-actions>

                                            <v-divider></v-divider>
                                            <v-expand-transition>
                                                <v-card-text v-if="rakutenResult.display">


                                                    <v-list dense>
                                                        <v-subheader>RESULT</v-subheader>

                                                        <v-list-item three-line>



                                                            <v-list-item-content>
                                                                <v-list-item-title>Cash</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Lots:${rakutenForm.lot|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Price:${rakutenForm.price|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>

                                                            <v-list-item-action>
                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(rakutenForm.lot *100* rakutenForm.price)|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>
                                                        <v-divider></v-divider>

                                                        <v-list-item three-line>

                                                            <v-list-item-content>
                                                                <v-list-item-title>Total</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Tax:${rakutenResult.tax|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Service:${rakutenResult.service|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>

                                                            <v-list-item-action>

                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(rakutenResult.total)|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>


                                                    </v-list>
                                                </v-card-text>
                                            </v-expand-transition>




                                        </v-card>

                                        <v-card flat v-if="tab=='FundingSociety'">

                                            <v-card-text>

                                                <v-row>


                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="fundSocietyForm.amount"
                                                            label="Amount" outlined>
                                                        </v-text-field>

                                                    </v-col>

                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="fundSocietyForm.month"
                                                            label="Month" outlined>
                                                        </v-text-field>

                                                    </v-col>

                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="fundSocietyForm.pa"
                                                            label="Pa" outlined>
                                                        </v-text-field>

                                                    </v-col>

                                                    <v-col cols="6">
                                                        <v-text-field type="number" v-model="fundSocietyForm.service"
                                                            label="Service Change" outlined>
                                                        </v-text-field>

                                                    </v-col>



                                                </v-row>
                                            </v-card-text>

                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn text @click="resetFunding">Reset</v-btn>
                                                <v-btn text @click="onFunding">Calculate</v-btn>
                                            </v-card-actions>

                                            <v-divider></v-divider>
                                            <v-expand-transition>
                                                <v-card-text v-if="fundSocietyResult.display">


                                                    <v-list dense>
                                                        <v-subheader>RESULT</v-subheader>

                                                        <v-list-item three-line>



                                                            <v-list-item-content>
                                                                <v-list-item-title>Total</v-list-item-title>
                                                                <v-list-item-subtitle>
                                                                    Cash:${fundSocietyForm.amount|decimal}
                                                                </v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    Tax&Service:${(fundSocietyResult.service+fundSocietyResult.interest)|decimal}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>

                                                            <v-list-item-action>
                                                                <v-list-item-action-text class="pt-16">
                                                                    ${(fundSocietyResult.total)|decimal}

                                                                </v-list-item-action-text>

                                                            </v-list-item-action>
                                                        </v-list-item>
                                                        <v-divider></v-divider>




                                                    </v-list>
                                                </v-card-text>
                                            </v-expand-transition>




                                        </v-card>

                                    </v-tab-item>
                                </v-tabs-items>

                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>




            </v-main>

        </v-app>


    </div>

</body>

<!--globals-->


<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="./javascript/app.js"></script>





<script>
    Vue.prototype.$http = axios;
    var app = new Vue({
        mixins: [appMixin],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            tab: '',
            tabs: ['Salary', 'Rakuten', 'FundingSociety'],
            //table
            socsoTable: [],
            eisTable: [],


            //funding 
            fundSocietyForm: {
                amount: 1000,
                month: 5,
                pa: 11,
                service: 6
            },
            fundSocietyResult: {
                interest: 0,
                service: 0,
                profit: 0,
                total: 0,
                display: false
            },

            //rakuten  
            rakutenForm: {
                lot: 0,
                price: 0,
            },
            rakutenResult: {
                cash: 0,
                service: 0,
                tax: 0,
                total: 0,
                display: false
            },

            //salary
            salaryForm: {
                salary: 3000,
                bonus: 0,
                employeeRate: 11,
                employeerRate: 13,
            },
            salaryResult: {
                remainSalary: 0,
                salary: 0,
                bonus: 0,
                kwsp: {
                    employeer: 0,
                    employee: 0
                },
                eis: {
                    employeer: 0,
                    employee: 0
                },
                sosco: {
                    employeer: 0,
                    employee: 0
                },
                contribute: {
                    employeer: 0,
                    employee: 0
                },
                display: false,

            }

        },

        beforeCreate() { },
        async created() {
            await this.registerAPI();
            await this.registerMENU();
            await this.registerPROFILE();
            await this.initial();
        },
        filters: {


        },
        computed: {

        },
        watch: {


        },
        methods: {
            async initial() {
                let config = {
                    url: ``,
                    method: 'get',
                    withCredentials: true,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }
                let tables = [
                    {
                        url: './data/eis.json',
                        prop: 'eisTable'
                    },
                    {
                        url: './data/socso.json',
                        prop: 'socsoTable'
                    }

                ]

                tables.forEach(async (table) => {
                    config.url = table.url;
                    let result = await this.$http.request(config);
                    this[table.prop] = result.data;
                })


            },
            resetSalary() {
                this.salaryForm = {
                    salary: 3000,
                    bonus: 0,
                    employeeRate: 11,
                    employeerRate: 13,
                }
                this.salaryResult = {
                    remainSalary: 0,
                    salary: 0,
                    bonus: 0,
                    kwsp: {
                        employeer: 0,
                        employee: 0
                    },
                    eis: {
                        employeer: 0,
                        employee: 0
                    },
                    sosco: {
                        employeer: 0,
                        employee: 0
                    },
                    contribute: {
                        employeer: 0,
                        employee: 0
                    },
                    display: false,
                }
            },
            onSalary() {

                Object.keys(this.salaryForm).forEach((prop) => {
                    this.salaryForm[prop] = parseFloat(this.salaryForm[prop]);
                })
                this.salaryResult.kwsp = this.kwspFomula(this.salaryForm.salary, this.salaryForm.bonus);
                this.salaryResult.eis = this.eisFomula(this.salaryForm.salary, this.salaryForm.bonus);
                this.salaryResult.sosco = this.socsoFomula(this.salaryForm.salary, this.salaryForm.bonus);

                //final calculate
                this.salaryResult.contribute = {
                    employeer: this.salaryResult.eis.employeer + this.salaryResult.kwsp.employeer + this.salaryResult.sosco.employeer,
                    employee: this.salaryResult.eis.employee + this.salaryResult.kwsp.employee + this.salaryResult.sosco.employee
                }

                this.salaryResult.remainSalary = this.salaryForm.salary + this.salaryForm.bonus - this.salaryResult.contribute.employee;

                this.salaryResult.salary = this.salaryForm.salary;
                this.salaryResult.bonus = this.salaryForm.bonus;

                this.salaryResult.display = true;
            },
            resetRakuten() {
                this.rakutenForm = {
                    lot: 0,
                    price: 0,
                };
                this.rakutenResult = {
                    cash: 0,
                    service: 0,
                    tax: 0,
                    total: 0,
                    display: false
                };

            },
            onRakuten() {

                Object.keys(this.rakutenForm).forEach((prop) => {
                    this.rakutenForm[prop] = parseFloat(this.rakutenForm[prop]);
                })
                this.rakutenResult.cash = this.rakutenForm.lot * 100 * this.rakutenForm.price;
                this.rakutenResult.service = this.rakutenFormula(this.rakutenResult.cash);
                this.rakutenResult.tax = (this.rakutenResult.service * 6) / 100;
                this.rakutenResult.total = this.rakutenResult.cash + this.rakutenResult.service + this.rakutenResult.tax;
                this.rakutenResult.display = true;

            },


            resetFunding() {
                this.fundSocietyForm = {
                    amount: 0,
                    month: 0,
                    pa: 0,
                    service: 0
                };
                this.fundSocietyResult = {
                    interest: 0,
                    service: 0,
                    profit: 0,
                    total: 0,
                    display: false
                }
            },
            onFunding() {
                Object.keys(this.fundSocietyForm).forEach((prop) => {
                    this.fundSocietyForm[prop] = parseFloat(this.fundSocietyForm[prop]);
                })
                this.fundSocietyResult.interest = ((this.fundSocietyForm.amount * (this.fundSocietyForm.pa / 100)) / 12) * this.fundSocietyForm.month;
                this.fundSocietyResult.service = (this.fundSocietyResult.interest * this.fundSocietyForm.service) / 100;
                this.fundSocietyResult.profit = this.fundSocietyResult.interest - this.fundSocietyResult.service;
                this.fundSocietyResult.total = this.fundSocietyForm.amount + this.fundSocietyResult.profit;
                this.fundSocietyResult.display = true;
                console.log(this.fundSocietyResult);

            },
            eisFomula(salary, bonus) {
                let total = salary + bonus;
                let result = this.eisTable.find((row) => {
                    return total > row.from && total <= row.to;
                });

                if (result == undefined) result = this.eisTable[this.eisTable.length - 1];
                return {
                    employee: result.employee,
                    employeer: result.employeer,
                };
            },
            socsoFomula(salary, bonus) {
                let total = salary + bonus;
                let result = this.socsoTable.find((row) => {
                    return total > row.from && total <= row.to;
                });
                if (result == undefined) result = this.socsoTable[this.socsoTable.length - 1];

                console.log(result);
                return {
                    employee: result.employee,
                    employeer: result.employeer,
                };
            },

            kwspFomula(salary, bonus) {
                let total = salary + bonus;

                return {
                    employeer: Math.floor((total * this.salaryForm.employeerRate) / 100),
                    employee: Math.floor((total * this.salaryForm.employeeRate) / 100),
                };
            },
            rakutenFormula(value) {
                let fee = 0;
                if (value < 1000) {
                    fee = 7;
                } else if (value > 1000 && value < 9999.99) {
                    fee = 8;
                } else if (value > 10000 && value < 99999.99) {
                    fee = (value * 10) / 100;
                } else {
                    fee = 100;
                }
                return fee;
            }


        },





    })
</script>

</html>