<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Expense</title>
</head>

<body>

    <div id="app">
        <v-app id="inspire">
            <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-list dense>
                    <template v-for="menu in menus">
                        <v-row v-if="menu.heading" :key="menu.heading" align="center">
                            <v-col cols="6">
                                <v-subheader v-if="menu.heading">
                                    ${menu.heading }
                                </v-subheader>
                            </v-col>
                            <v-col cols="6" class="text-center">
                                <a href="#!" class="body-2 black--text">EDIT</a>
                            </v-col>
                        </v-row>
                        <v-list-group class="py-1" v-else-if="menu.children" :key="menu.text" v-model="menu.model"
                            append-icon="">
                            <template v-slot:activator>
                                <v-list-item-action>
                                    <v-icon>${menu.icon }</v-icon>
                                </v-list-item-action>

                                <v-list-item-content>
                                    <v-list-item-title>
                                        ${ menu.text }
                                    </v-list-item-title>
                                </v-list-item-content>
                            </template>
                            <v-list-item v-for="(child, i) in menu.children" :key="i" link
                                v-on:click="onNavigate(child.url)">

                                <v-list-item-action>
                                    <!--
                                    <v-icon>${child.icon }</v-icon>

                                    -->

                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-subtitle style="font-size:12px">
                                        ${child.text }
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-group>
                        <v-list-item class="py-1 " v-else :key="menu.text" link v-on:click="onNavigate(menu.url)">
                            <v-list-item-action>
                                <v-icon>${menu.icon }</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    ${ menu.text }
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                    </template>
                </v-list>
                <template v-slot:append>
                    <v-btn v-if="profile.isAuthed" class="text-center" style="width: 100%;" text @click="onLogout">Logout</v-btn>
                </template>
            </v-navigation-drawer>

            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
                    <span class="hidden-sm-and-down">Personal</span>
                </v-toolbar-title>

            </v-app-bar>
            <v-main>

                <!--info bar-->
                <v-snackbar v-model="infoBar.display" :timeout="infoBar.timeout">
                    ${infoBar.title}

                    <template v-slot:action="{ attrs }">
                        <v-btn color="red" text v-bind="attrs" @click="infoBar.display = false">
                            Close
                        </v-btn>
                    </template>
                </v-snackbar>

                <!--info dialog-->
                <v-dialog v-model="infoDialog.display" width="300">


                    <v-card>
                        <v-card-title class="headline text-capitalize lighten-2 px-4" primary-title>
                            ${infoDialog.title}
                        </v-card-title>



                        <v-divider style="width:90%"></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="infoDialog.display=false">
                                close
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <!--expense-->
                <v-dialog v-model="expenseForm.display" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card>
                        <v-toolbar dark color="primary">
                            <v-btn icon dark @click="resetForm">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-toolbar-title>ExpenseForm</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn dark text :disabled="!enableForm" @click="saveForm">Save</v-btn>
                            </v-toolbar-items>
                        </v-toolbar>


                        <v-card-text>
                            <v-row>
                                <v-col cols="6">
                                    <v-select :items="sessions" class="text-capitalize" v-model="expenseForm.session"
                                        item-text="label" item-value="value" label="Session" outlined>
                                    </v-select>
                                </v-col>
                                <v-col cols="6">
                                    <v-menu ref="menu" v-model="receiptMenu" :close-on-content-click="false"
                                        :return-value.sync="expenseForm.receiptDate" transition="scale-transition"
                                        offset-y min-width="290px">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field v-model="expenseForm.receiptDate" label="Receipt" outlined
                                                readonly v-bind="attrs" v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="expenseForm.receiptDate" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                            <v-btn text color="primary"
                                                @click="$refs.menu.save(expenseForm.receiptDate)">OK</v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-col>

                                <v-col cols="6">
                                    <v-text-field type="number" v-model="expenseForm.amount" label="Amount" outlined>
                                    </v-text-field>

                                </v-col>

                                <v-col cols="6">
                                    <v-select :items="paymentTypes" class="text-capitalize"
                                        v-model="expenseForm.paymentType" item-text="label" item-value="value"
                                        label="Payment Type" outlined>
                                    </v-select>
                                </v-col>

                                <v-col cols="6">
                                    <v-select :items="expenseTypes" class="text-capitalize"
                                        v-model="expenseForm.expenseType" item-text="label" item-value="value"
                                        label="Expense Type" outlined>
                                    </v-select>
                                </v-col>
                                <v-col cols="6">

                                    <v-autocomplete v-model="expenseForm.remark" outlined label="Remark"
                                        :items="remarks" :loading="remarksLoaded" :search-input.sync="searchRemark"
                                        hide-no-data hide-selected return-object></v-autocomplete>
                                    </v-autocomplete>


                                    <!--
                                    <v-textarea v-model="expenseForm.remark" label="Remark" outlined></v-textarea>

                                    -->
                                </v-col>
                                <v-col cols="6">
                                    <v-checkbox v-model="expenseForm.refundable" label="Refundable"></v-checkbox>

                                </v-col>

                                <v-col cols="6">
                                    <v-checkbox v-model="expenseForm.claimable" label="Claimable"></v-checkbox>

                                </v-col>


                            </v-row>
                        </v-card-text>
                    </v-card>

                </v-dialog>
                <v-container fluid>


                    <v-row>

                        <v-col cols="12">




                            <v-card>
                                <v-toolbar flat>

                                    <v-tabs background-color="white" left @change="onYear">
                                        <v-tab v-for="(year,yearIndex) in years" :key="yearIndex">
                                            ${ year.label }
                                        </v-tab>
                                    </v-tabs>
                                    <v-spacer></v-spacer>


                                    <v-select class="pt-7" :items="months" item-value="value" item-text="label"
                                        v-model="month" @change="onMonth"></v-select>
                                </v-toolbar>


                                <v-btn color="primary" fixed bottom right fab @click="addForm">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>

                                <v-data-table :loading="expensesLoaded" :server-items-length="pagination.total"
                                    :options.sync="pagination" :headers="table.columns" :items="table.rows"
                                    :items-per-page="5" class="mt-1 elevation-1">


                                    <template v-slot:item.session="{ item }">

                                        ${getLabel('sessions',item.session)}
                                    </template>

                                    <template v-slot:item.paymentType="{ item }">

                                        ${getLabel('paymentTypes',item.paymentType)}

                                    </template>


                                    <template v-slot:item.action="{ item }">
                                        <v-btn @click="editForm(item)" icon>
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                        <v-btn @click="deleteForm(item)" icon>
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </template>
                                </v-data-table>
                            </v-card>

                        </v-col>
                    </v-row>


                </v-container>




            </v-main>

        </v-app>


    </div>

</body>

<!--globals-->


<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="./javascript/app.js"></script>





<script>
    Vue.prototype.$http = axios;
    var app = new Vue({
        mixins: [appMixin],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            previousUrl: '',
            pagination: {
                roupBy: [],
                groupDesc: [],
                itemsPerPage: 5,
                multiSort: false,
                mustSort: false,
                page: 1,
                sortBy: [],
                sortDesc: [],
                year: new Date().getFullYear(),
                month: new Date().getMonth() + 1,
                total: 0,
            },
            expensesLoaded: false,
            expenses: [],
            expenseForm: {
                display: false,
                selected: null,
                mode: 'post',
                id: '',
                session: '',
                amount: '',
                paymentType: '',
                expenseType: '',
                claimable: false,
                refundable: false,
                receiptDate: new Date().toISOString().substr(0, 10),
                remark: ''
            },
            year: 0,
            month: new Date().getMonth(),
            receiptMenu: false,


            remarksLoaded: false,
            //search
            searchRemark: '',
            searchExpense: '',
            //options
            remarks: [],
            years: [],
            months: [
                {
                    value: 1,
                    label: 'Jan',
                },
                {
                    value: 2,
                    label: 'Feb',
                },
                {
                    value: 3,
                    label: 'Mar',
                }
                , {
                    value: 4,
                    label: 'Apr',
                }
                , {
                    value: 5,
                    label: 'May',
                }, {
                    value: 6,
                    label: 'Jun',
                }, {
                    value: 7,
                    label: 'Jul',
                },
                {
                    value: 8,
                    label: 'Aug',
                },
                {
                    value: 9,
                    label: 'Sep',
                },
                {
                    value: 10,
                    label: 'Oct',
                },
                {
                    value: 11,
                    label: 'Nov',
                },
                {
                    value: 12,
                    label: 'Dec',
                }
            ],
            sessions: [1, 2, 3],
            paymentTypes: [1, 2, 3],
            expenseTypes: [1, 2, 3],

        },

        beforeCreate() { },
        async created() {
            await this.registerAPI();
            await this.registerMENU();
            await this.registerPROFILE();
            await this.initial();
            await this.onLoad();
        },
        filters: {


        },
        computed: {
            enableForm:{
                cache:false,
                get:function(){

                    if(this.expenseForm.session.length==0)return false;
                    if(this.expenseForm.amount.length==0)return false;
                    if(this.expenseForm.paymentType.length==0)return false;
                    if(this.expenseForm.expenseType.length==0)return false;
                    if(this.expenseForm.receiptDate.length==0)return false;
                    return true;
                }
            },
            table: {
                cache: false,
                get: function () {
                    return {
                        columns: [
                            {
                                text: 'Receipt Date',
                                value: 'receiptDate'
                            },
                            {
                                text: 'Session',
                                value: 'session'
                            },
                            {
                                text: 'Amount',
                                value: 'amount'
                            },

                            {
                                text: 'Remark',
                                value: 'remark'
                            },
                            {
                                text: 'Action',
                                value: 'action'
                            }
                        ],
                        rows: this.expenses
                    }
                }
            }
        },
        watch: {
            pagination: {
                handler() {
                    this.fetchEntriesDebounced()
                    //this.onLoad();
                },
                deep: true,
            },
            searchExpense(val) {

            },
            searchRemark(val) {


                // Items have already been requested
                if (this.remarksLoaded) return


                let config = {
                    url: `${this.getEndPoint('option')}/remark?remark=${val}`,
                    method: 'get',
                    withCredentials: true,
                    //xsrfCookieName: 'Json-Token',
                    //xsrfHeaderName: 'Json-Token',
                    headers: {
                        'Content-Type': 'application/json',
                        //'Access-Control-Allow-Origin': 'https://edocs.redtone.com',
                    },
                }
                this.remarksLoaded = true
                this.$http.request(config).then((resp) => {
                    this.remarks = resp.data;
                    this.remarksLoaded = false

                })


            },



        },
        methods: {

            async initial() {
                let url = this.getEndPoint('option');
                let options = [{
                    url: `${url}/session`,
                    prop: 'sessions'
                }, {
                    url: `${url}/paymentType`,
                    prop: 'paymentTypes'
                }, {
                    url: `${url}/expenseType`,
                    prop: 'expenseTypes'
                },
                {
                    url: `${url}/year`,
                    prop: 'years'
                }
                ]
                let config = {
                    url: url,
                    method: 'get',
                    withCredentials: false,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }

                options.forEach((option) => {
                    config.url = option.url;
                    this.$http.request(config).then((resp) => {
                        this[option.prop] = resp.data
                    });
                })



            },
            onMonth(month) {
                this.pagination.month = this.month;
                this.onLoad();
            },

            onYear(yearIndex) {
                this.pagination.year = this.years[yearIndex].value;
                this.onLoad();
            },

            onLoad() {
                if (this.endpoints.length == 0) return;
                if (this.expensesLoaded) return;

                let config, url =
                    `${this.getEndPoint('expense')}?page=${this.pagination.page - 1}&month=${this.pagination.month}&year=${this.pagination.year}&total=${this.pagination.itemsPerPage}&column=${this.pagination.sortBy[0]}&order=${this.pagination.sortDesc[0] ? 'desc' : 'asc'}&like=${this.like}`;
                if (this.previousUrl == url) return;
                config = {
                    url: url,
                    method: 'get',
                    withCredentials: true,
                    //xsrfCookieName: 'Json-Token',
                    //xsrfHeaderName: 'Json-Token',
                    headers: {
                        'Content-Type': 'application/json',
                        //'Access-Control-Allow-Origin': 'https://edocs.redtone.com',
                    },
                }
                this.expensesLoaded = true;
                this.expenses = [];
                this.$http.request(config).then((resp) => {
                    //console.log(resp);
                    this.expenses = resp.data.expenses;
                    this.pagination.total = resp.data.total;
                    this.expensesLoaded = false;
                    this.previousUrl = url;

                })
            },
            addForm() {
                this.expenseForm.display = true;
                this.expenseForm.mode = 'post';
            },
            editForm(expense) {
                this.expenseForm.display = true;
                this.expenseForm.mode = 'put';
                this.expenseForm.selected = expense;

                Object.keys(this.expenseForm).forEach((prop) => {
                    if (expense[prop] != undefined) this.expenseForm[prop] = expense[prop];
                })

                this.remarks = [expense.remark];
            },
            deleteForm(expense) {
                let config = {
                    url: `${this.getEndPoint('expense')}/${expense.id}`,
                    method: 'delete',
                    withCredentials: true,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }
                this.$http.request(config).then((resp) => {
                    this.expenses.splice(this.expenses.indexOf(expense), 1);
                    this.infoBar.display = true;
                    this.infoBar.title = 'Delete Success'
                })
            },
            saveForm() {
                let config, expense, props = ['selected', 'mode', 'display'];
                expense = Object.assign({}, this.expenseForm);
                props.forEach((prop) => {
                    delete expense[prop];
                })

                config = {
                    url: `${this.getEndPoint('expense')}${this.expenseForm.mode == 'post' ? '' : "/" + expense.id}`,
                    method: this.expenseForm.mode,
                    withCredentials: true,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    data: expense
                }

                this.$http.request(config).then((resp) => {
                    if (this.expenseForm.mode == 'post') {
                        this.expenses.push(expense);
                    } else {
                        this.expenses[this.expenses.indexOf(this.expenseForm.selected)] = expense;
                    }

                    this.infoBar.display = true;
                    this.infoBar.title = this.expenseForm.mode == 'post' ? 'Add Success' : 'Edit Success'
                    this.resetForm();
                })

            },
            resetForm() {
                this.expenseForm = {
                    display: false,
                    selected: null,
                    mode: 'post',
                    session: '',
                    amount: '',
                    paymentType: '',
                    expenseType: '',
                    claimable: false,
                    refundable: false,
                    receiptDate: new Date().toISOString().substr(0, 10),
                    remark: ''
                }
            },
            fetchEntriesDebounced() {
                // cancel pending call
                clearTimeout(this._timerId)

                // delay new call 500ms
                this._timerId = setTimeout(() => {
                    this.onLoad();
                }, 500)
            }

        },





    })
</script>

</html>