.personal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.personal-is-mobile .personal-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.personal-app-name {
  margin-left: 8px;
}

.personal-drawer-container {
  /* When the drawer is not fixed, stretch the drawer container to fill the available space. This
       causes `<mat-drawer-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  .personal-drawer-nav{
      width: 200px;
  }
  .personal-drawer-menu{
    span{
        padding-left:12px;
    }
  }
}

.personal-is-mobile .personal-drawer-container {
  /* When the drawer is fixed, don't constrain the height of the drawer container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

