<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Todo</title>
</head>

<body>

    <div id="app">
        <v-app id="inspire">
            <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-list dense>
                    <template v-for="menu in menus">
                        <v-row v-if="menu.heading" :key="menu.heading" align="center">
                            <v-col cols="6">
                                <v-subheader v-if="menu.heading">
                                    {{ menu.heading }}
                                </v-subheader>
                            </v-col>
                            <v-col cols="6" class="text-center">
                                <a href="#!" class="body-2 black--text">EDIT</a>
                            </v-col>
                        </v-row>
                        <v-list-group class="py-1" v-else-if="menu.children" :key="menu.text" v-model="menu.model"
                            :prepend-icon="menu.model ? menu.icon : menu['icon-alt']" append-icon="">
                            <template v-slot:activator>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        {{ menu.text }}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </template>
                            <v-list-item v-for="(child, i) in menu.children" :key="i" link
                                v-on:click="onNavigate(child.url)">

                                <v-list-item-action>
                                    <!--
                                    <v-icon>{{ child.icon }}</v-icon>

                                    -->

                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-subtitle style="font-size:12px">
                                        {{ child.text }}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-group>
                        <v-list-item class="py-1 " v-else :key="menu.text" link v-on:click="onNavigate(menu.url)">
                            <v-list-item-action>
                                <v-icon>{{ menu.icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ menu.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                    </template>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
                    <span class="hidden-sm-and-down">Personal</span>
                </v-toolbar-title>

            </v-app-bar>
            <v-main>
                <!--info-->
                <v-dialog v-model="infoDialog.display" width="300">


                    <v-card>
                        <v-card-title class="headline text-capitalize lighten-2 px-4" primary-title>
                            {{infoDialog.title}}
                        </v-card-title>



                        <v-divider style="width:90%"></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="infoDialog.display=false">
                                close
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="taskForm.display" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card>
                        <v-toolbar dark color="primary">
                            <v-btn icon dark @click="resetForm">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-toolbar-title>Task Form</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn dark text @click="saveForm">Save</v-btn>
                            </v-toolbar-items>
                        </v-toolbar>


                        <v-card-text>
                            <v-row>
                                <v-col cols="12">
                                    <v-text-field v-model="taskForm.subject" label="Subject" outlined>

                                    </v-text-field>
                                </v-col>

                                <v-col cols="12">
                                    <v-textarea v-model="taskForm.description" label="Description" outlined>

                                    </v-textarea>
                                </v-col>


                                <v-col cols="12">
                                    <v-menu ref="menu" v-model="dateMenu" :close-on-content-click="false"
                                        :return-value.sync="taskForm.duedate" transition="scale-transition" offset-y
                                        max-width="290px" min-width="290px">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field v-model="taskForm.duedate" label="Due Date" readonly
                                                v-bind="attrs" v-on="on" outlined>
                                            </v-text-field>
                                        </template>
                                        <v-date-picker v-model="taskForm.duedate" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="dateMenu = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu.save(taskForm.duedate)">OK
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-col>

                                <v-col cols="12">
                                    <v-radio-group v-model="taskForm.priority" row>
                                        <v-radio :label="priority.label" :value="priority.value"
                                            v-for="(priority,priorityIndex) in priorities" :key="priorityIndex">
                                        </v-radio>
                                    </v-radio-group>

                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>

                </v-dialog>


                <v-container>
                    <v-row>
                        <v-col cols="12">

                            <v-text-field v-model="task" label="What are you working on?" solo
                                @keydown.enter="createForm">
                                <v-fade-transition v-slot:append>
                                    <v-icon v-if="task" @click="create">
                                        add_circle
                                    </v-icon>
                                </v-fade-transition>
                            </v-text-field>

                            <h2 class="display-1 success--text pl-4">
                                Tasks:&nbsp;
                                <v-fade-transition leave-absolute>
                                    <span :key="`tasks-${tasks.length}`">
                                        {{ tasks.length }}
                                    </span>
                                </v-fade-transition>
                            </h2>

                            <v-divider class="mt-4"></v-divider>

                            <v-row class="my-1" align="center">
                                <strong class="mx-4 info--text text--darken-2">
                                    Remaining: {{ remainingTasks }}
                                </strong>

                                <v-divider vertical></v-divider>

                                <strong class="mx-4 success--text text--darken-2">
                                    Completed: {{ completedTasks }}
                                </strong>

                                <v-spacer></v-spacer>

                                <v-progress-circular :value="progress" class="mr-2"></v-progress-circular>
                            </v-row>

                            <v-divider class="mb-4"></v-divider>

                            <v-card v-if="tasks.length > 0">

                                <v-slide-y-transition class="py-0" group tag="v-list">
                                    <template v-for="(task, i) in tasks">
                                        <v-divider v-if="i !== 0" :key="`${i}-divider`"></v-divider>

                                        <v-list-item :key="`${i}-${task.text}`">
                                            <v-list-item-action>
                                                <v-checkbox v-model="task.stat"
                                                    :color="task.stat && 'grey' || 'primary'">

                                                </v-checkbox>
                                            </v-list-item-action>

                                            <v-list-item-content>


                                                <v-list-item-title
                                                    :class="task.stat && 'grey--text' || 'primary--text'">
                                                    {{
                                                task.subject
                                            }}
                                                    <span class="caption">
                                                        {{task.duedate}}
                                                    </span>
                                                </v-list-item-title>
                                                <v-list-item-subtitle v-html="task.description"></v-list-item-subtitle>
                                            </v-list-item-content>
                                            <v-spacer></v-spacer>


                                            <v-scroll-x-transition>
                                                <v-icon v-if="task.stat" color="success">
                                                    mdi-check
                                                </v-icon>

                                                <v-list-item-action v-else>
                                                    <v-row>

                                                        <v-btn icon @click="editForm(task)">
                                                            <v-icon color="grey lighten-1">mdi-pencil</v-icon>
                                                        </v-btn>

                                                        <v-btn icon color="red" @click="deleteForm(task)">
                                                            <v-icon color="grey lighten-1">mdi-delete</v-icon>
                                                        </v-btn>
                                                    </v-row>

                                                </v-list-item-action>

                                            </v-scroll-x-transition>
                                        </v-list-item>
                                    </template>
                                </v-slide-y-transition>


                            </v-card>


                            <v-btn fixed bottom right fab @click="addForm">
                                <v-icon>mdi-plus</v-icon>
                            </v-btn>

                        </v-col>
                    </v-row>
                </v-container>




            </v-main>

        </v-app>


    </div>

</body>

<!--globals-->


<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="./javascript/app.js"></script>





<script>
    Vue.prototype.$http = axios;
    var app = new Vue({
        mixins: [appMixin],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            pagination: {
                total: '',
            },
            task: null,
            tasks: [],
            taskForm: {
                display: false,
                selected: null,
                mode: 'post',
                id: '',
                subject: '',
                description: '',
                duedate: '',
                createdate: '',
                priority: 1,
                stat: false,

            },
            //options
            dateMenu: false,
            priorities: [{
                value: '1',
                label: 'Urgent'
            },
            {
                value: '2',
                label: 'Important'
            },
            {
                value: '3',
                label: 'Normal'
            }],


        },

        beforeCreate() { },
        async created() {
            await this.registerAPI();
            await this.registerMENU();
            await this.initial();
        },
        filters: {


        },
        computed: {
            table: {
                cache: false,
                get: function () {
                    return {
                        columns: [

                        ],
                        rows: this.tasks
                    }
                }
            },
            completedTasks() {
                return this.tasks.filter(task => task.stat).length
            },
            progress() {
                return this.completedTasks / this.tasks.length * 100
            },
            remainingTasks() {
                return this.tasks.length - this.completedTasks
            },
        },
        watch: {


        },
        methods: {
            async initial() {


            },
            createForm() {
                let task = {
                    id: '',
                    subject: this.task,
                    description: '',
                    duedate: new Date().toISOString().substr(0, 10),
                    createdate: '',
                    priority: 1,
                    stat: false,
                }
                this.tasks.push(task)

                this.task = null
            },
            addForm() {
                this.taskForm.display = true;
                this.taskForm.mode = 'post';
            },
            editForm(expense) {
                this.taskForm.display = true;
                this.taskForm.mode = 'put';
                this.taskForm.selected = expense;

                Object.keys(this.taskForm).forEach((prop) => {
                    if (expense[prop] != undefined) this.taskForm[prop] = expense[prop];
                })
            },
            deleteForm(expense) {
                this.tasks.splice(this.tasks.indexOf(expense), 1);
                this.infoDialog.display = true;
                this.infoDialog.title = 'Delete Success'

            },
            saveForm() {
                let expense, props = ['selected', 'mode', 'display'];
                expense = Object.assign({}, this.taskForm);
                props.forEach((prop) => {
                    delete expense[prop];
                })

                if (this.taskForm.mode == 'post') {
                    this.tasks.push(expense);
                } else {
                    this.tasks[this.tasks.indexOf(this.taskForm.selected)] = expense;
                }

                this.infoDialog.display = true;
                this.infoDialog.title = this.taskForm.mode == 'post' ? 'Add Success' : 'Edit Success'
                this.resetForm();
            },
            resetForm() {
                this.taskForm = {
                    display: false,
                    selected: null,
                    mode: 'post',
                    id: '',
                    subject: '',
                    description: '',
                    duedate: '',
                    createdate: '',
                    priority: 1,
                    stat: false,
                }
            },


        },





    })
</script>

</html>